@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hamburger-layout:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(0%) saturate(600%)
      hue-rotate(135deg) brightness(86%) contrast(88%);
  }

  .slider-right {
    animation-name: moveToRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }

  @keyframes moveToRight {
    0% {
      transform: translate(0%, 0%);
    }
    80% {
      transform: translate(100%, 0%);
    }
    100% {
      transform: translate(100%, 0%);
    }
  }

  .slider-left {
    animation-name: moveToLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }

  @keyframes moveToLeft {
    0% {
      transform: translate(0%, 0%);
    }
    80% {
      transform: translate(-100%, 0%);
    }
    100% {
      transform: translate(-100%, 0%);
    }
  }
}
